{% extends 'dc_management/base-dcore.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>



<h1>
    {{ person }}
<small class="text-muted">{{ person.cwid }}</small>
</h1>


<h2>
    <small class="text-muted">{{ person.department }}</small>
</h2>





<table class="table table-striped table-hover">
    <thead class="thead-default">
    <tr>
        <th>CWID</th>
        <th>Role</th>
        <th>Affiliation</th>
        <th>Email</th>
    </tr>
    </thead>

    <tr>
        <td>{{ person.cwid }}</td>
        <td>{{ person.role.name }}</td>
        <td>{{ person.organization }}</td>
        <td>{{ person.email_primary }}</td>
    </tr>
</table>


<a  class="btn btn-primary" href="{% url 'persons:person-edit' person.pk %}">Update user details</a>

<a  class="btn btn-danger" href="{% url 'dc_management:thisusertoproject-add' person.pk %}">Add user to project</a>

</br></br>

<!-- Setup tabs for separating details and logs --!>
<div id="exTab1" class="container">
<ul  class="nav nav-tabs">
			<li class="active">
            <a  href="#details" data-toggle="tab">Details</a>
			</li>
			<li><a href="#logs" data-toggle="tab">Logs</a>
			</li>
		</ul>
		
		
<div class="tab-content clearfix">
  




<!-- Attributes of project --!>
<div class="tab-pane active" id="details">


<h2>User for {{ person.project_set.all.count }} projects</h2>

{% with person.project_set.all as project_list %}
    {% with 'dc_management/project_list.html' as passthroughhtml %}
        {% include 'dc_management/project_list_template.html' %}
    {% endwith %}
{% endwith %}

<h2>PI for {{ person.project_pi.all.count }} projects</h2>

{% with person.project_pi.all as project_list %}
    {% with 'dc_management/project_list.html' as passthroughhtml %}
        {% include 'dc_management/project_list_template.html' %}
    {% endwith %}
{% endwith %}

<h2>Administrator for {{ person.prj_admin.all.count }} projects</h2>

{% with person.prj_admin.all as project_list %}
    {% with 'dc_management/project_list.html' as passthroughhtml %}
        {% include 'dc_management/project_list_template.html' %}
    {% endwith %}
{% endwith %}


<h2>Listed on {{ person.governance_doc_set.all.count }} governance documents</h2>

{% with person.governance_doc_set.all as gov_doc_list %}
    {% include "dc_management/gov_docs_list.html" %}
{% endwith %}

{% with person as model_instance  %}
{% with 'person' as  model_type %}
{% include 'dc_management/comment_list.html' %}
{% endwith %}
{% endwith %}

</br>


</div>

<!--  ####  --!>
<!--  LOGS  --!>
<!--  ####  --!>


<div class="tab-pane" id="logs">
 
 <h4>Access logs</h4>
 <table class="table table-striped">
  <thead class="thead-default">
        <tr>
            <th>Logged</th>
            <th>Ticket</th>
            <th>Activated</th>
            <th>Project</th>
            <th>Change</th>
        </tr>
  </thead>
  {% for l in person.access_log_set.all %}
   <tr><td>{{ l.record_creation }}</td>
       {% if l.sn_ticket %}
       <td>{{ l.sn_ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ l.sn_ticket }}</td>
       {% endif %}
       <td>{{ l.date_changed }}</td>
       <td>{{ l.prj_affected }}</td>
       <td>{{ l.get_change_type_display }}</td>
       </tr>
  {% endfor %}
 </table>

 <h4>External access logs</h4>
 <table class="table table-striped">
  <thead class="thead-default">
        <tr>
            <th>Logged</th>
            <th>Ticket</th>
            <th>Connected</th>
            <th>Disconnected</th>
        </tr>
  </thead>
  {% for l in project.external_access_log_set.all %}
   <tr><td>{{ l.record_creation }}</td>
       {% if l.sn_ticket %}
       <td>{{ l.sn_ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ l.sn_ticket }}</td>
       {% endif %}
       <td>{{ l.date_connected }}</td>
       <td>{{ l.date_disconnected }}</td>
       </tr>
  {% endfor %}
 </table>
 
 <h4>Software logs</h4>
 <table class="table table-striped">
  <thead class="thead-default">
        <tr>
            <th>Ticket</th>
            <th>Changed</th>
            <th>Software</th>
        </tr>
  </thead>
  {% for l in person.software_log_set.all %}
    <tr>
       {% if l.sn_ticket %}
       <td>{{ l.sn_ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ l.sn_ticket }}</td>
       {% endif %}

       <td>{{ l.change_date }}</td>
       <td>{{ l.software_changed }}</td>
    </tr>
  {% endfor %}
 </table>

 <h4>Storage logs</h4>
 <table class="table table-striped">
  <thead class="thead-default">
        <tr>
            <th>Logged</th>
            <th>Ticket</th>
            <th>Changed</th>
            <th>Amount (GB)</th>
            <th>Comments</th>
        </tr>
  </thead>
  {% for l in person.storage_log_set.all %}
   <tr><td>{{ l.record_creation }}</td>
       {% if l.sn_ticket %}
       <td>{{ l.sn_ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ l.sn_ticket }}</td>
       {% endif %}
       <td>{{ l.date_changed }}</td>
       <td>{{ l.storage_amount }}</td>
       <td>{{ l.comments }}</td>
       </tr>
  {% endfor %}
 </table>



 <h4>
    File Transfer logs
 </h4>
 <table class="table table-striped">
  <thead class="thead-inverse">
        <tr>
            <th>Date</th>
            <th>Ticket</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Data</th>
        </tr>
  </thead>
  {% for ft in person.filetransfer_set.all %}
   <tr>
       <td>
            <a href="{% url 'dc_management:file-transfer-view' ft.pk %}">
              {{ ft.change_date }}
            </a>
        </td>
       {% if ft.ticket %}
       <td>{{ ft.ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ ft.ticket }}</td>
       {% endif %}
       
        <td> 
        {% if ft.source %}
        {{ ft.source }}
        {% elif ft.external_source %}
        {{ ft.external_source }}
        {% endif %}
        </td>
        <td>
        {% if ft.destination %}
        {{ ft.destination }}
        {% elif ft.external_destination %}
        {{ ft.external_destination }}
        {% endif %}
        </td>
       
       <td>{{ ft.get_data_type_display }}</td>
       
       </tr>
  {% endfor %}
</table>  
  
  
 <h4>Audit logs</h4>
 <table class="table table-striped">
  <thead class="thead-inverse">
        <tr>
            <th>Logged</th>
            <th>Ticket</th>
            <th>Audit Date</th>
            <th>User</th>
            <th>Comments</th>
        </tr>
  </thead>
  {% for l in person.audit_log_set.all %}
   <tr><td>{{ l.record_creation }}</td>
       {% if l.sn_ticket %}
       <td>{{ l.sn_ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ l.sn_ticket }}</td>
       {% endif %}
       <td>{{ l.audit_date }}</td>
       <td>{{ l.dc_user }}</td>
       <td>{{ l.comments }}</td>
       </tr>
  {% endfor %}
 </table>
</div>
{% endblock %}

