

{% for s in server_list %}
    {% if s.duplicate_users|length > 0 %}
        <table class="table table-striped table-hover">
            {% for u, p_list in s.duplicate_users.items %}
            <tr>
                <td style="fontweight:bold">{{s}}</td>
                <td><a href="{% url 'dc_management:dcuser' u.pk %}">{{u}}</a></td>
                {% for p in p_list %}
                    <td><a href="{% url 'dc_management:project' p.pk %}">{{p}}</a></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endfor %}
