{% extends 'base.html' %}

{% load bootstrap3 %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Add a user to a project</h2>
<a type="button" class="btn btn-primary" href="{% url 'dc_management:dc_user-add' %}">Create user</a>
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-danger" value="Create request" />
    
</form>

<p>Clicking "Create request" will update the database export log and send an email to ServiceNow requesting the file be transferred to prj001 (and supplying the necessary details)</p>

{% endblock %}