{% extends 'base.html' %}


{% block content %}

<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>



    <h2>{{ server_list|length }} Active Production Servers</h2>
    
    <a type="button" class="btn btn-info" 
       href="{% url 'dc_management:all_servers' %}">
       View all servers
    </a>
    <a type="button" class="btn btn-primary" href="{% url 'dc_management:server-add' %}">
        Add new server
    </a>
    <a type="button" class="btn btn-default" href="#">Decommission server</a>
    <a type="button" class="btn btn-default" href="#">Suspend server</a>
    <a type="button" class="btn btn-default" href="#">Reactivate server</a>

    {% include 'dc_management/server_list.html' %}
 


{% endblock %}