{% load bootstrap3 %}

{% load project_tags %}

        <table class="table table-striped table-hover">
            <thead class="thead-default">
            <tr>
                <th>Document</th>
                <th>ID</th>
                <th>Expiry Date</th>
                <th>Gov. Type</th>
                <th>Access</th>
                <th>Permitted</th>
            </tr>
            </thead>    

        {% for gd in project.governance_doc_set.all %}
        
            <tr>
                <td><a href="{% url 'dc_management:govdocmeta' gd.pk %}" >{{ gd }}</a></td>
                <td>{{ gd.doc_id }}</td>
            
                {% if gd.attention_required == "danger" %}
                    <td class="bg-danger" style="color:red;"> {{ gd.expiry_date }}</td>
                {% elif gd.attention_required == "warning" %}
                    <td class="bg-warning" style="color:orange;"> {{ gd.expiry_date }}</td>
                {% elif gd.attention_required == "primary" %}
                    <td class="bg-info" style="color:blue;"> {{ gd.expiry_date }}</td>
                {% else %}
					<td> {{ gd.expiry_date }}</td>
                {% endif %}
            
				<td> {{ gd.get_governance_type_display }}</td>
				<td> {{ gd.access_allowed }}</td>
				<td>{{ gd.allowed_user_string }}</td>
            </tr>
        {% endfor %}
        </table>
