{% comment %}
<!-- This template is referenced by the individual list templates --!> 
<!-- Include this template after the {% if project_list %} tag --!> 
{% endcomment %}

{% load project_tags %}

<table class="table table-striped table-hover">
<thead class="thead-default">
<tr>
    <th colspan="3">Migration</th>
    <th colspan="3">Confirmation Date</th>
    <th></th>
</tr>
<tr>
    <th>ID</th>
    <th>Project</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Access</th>
    <th>Environment</th>
    <th>Data</th>
    <th>Comments</th>
</tr>
</thead>

    {% for mig in migration_list %}
      <tr>
        <td>
            <a href="{% url 'dc_management:migration-info' mig.pk %}">
                {{ mig.pk }}
            </a>
        </td>
        
        <td>
            <a href="{% url 'dc_management:project' mig.project.pk %}">
                {{ mig.project }}
            </a>
        </td>
        <td>
            {% if mig.node_origin %}
            <a href="{% url 'dc_management:node' mig.node_origin.pk %}">
            {{ mig.node_origin }}
            </a>
            {% else %}
            Unmounted
            {% endif %}
        </td>
        <td>
            <a href="{% url 'dc_management:node' mig.node_destination.pk %}">
            {{ mig.node_destination }}
            </a>
        </td>
        <td>{{ mig.access_date }}</td>
        <td>{{ mig.envt_date }}</td>
        <td>{{ mig.data_date }}</td>
        <td>{{ mig.comments|linebreaks }}
        </td>
      </tr>
    {% endfor %}
</table>
