{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}

{# Load CSS and JavaScript #}

{% comment this breaks after removing the load bootstrap3 tag %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% endcomment %}

{# load the custom filters for time #}
{% load project_tags %}


<style>
/* styling of the tabs*/
#exTab1 .tab-content {
  color : black;
  padding : 5px 15px;
}

#exTab1 .nav-tabs > li > a {
  border-radius: 4px 4px 0 0;
}
</style>



<!-- project top panel --!>
<div class="container col-md-12">
 <div class="col-md-1">
 </div>
 
 <div class="col-md-10">
  <div class="col-md-8 panel panel-default">
    <h1 style="padding:0;margin:0;">
        {{ project.dc_prj_id }}
        <small class="text-muted">{{ project.nickname }}</small>
    </h1>
    <h2>
        <small class="text-muted">{{ project.title }}</small>
    </h2>
  </div>

  <div class="col-md-4" >
  
  <ul class="list-group" style="font-size:95%;">
  <li   class="list-group-item d-flex justify-content-between align-items-center"
        style="padding:3px">
    CLASSIFICATION
    <span style="float:right" class="label 
    {% if project.open_allowed == True %}label-success">PUBLIC
    {% elif project.open_allowed == None %}label-warning">UNDETERMINED
    {% else %}label-danger">CONFIDENTIAL{% endif %}
    </span>
  </li>
  <li   class="list-group-item d-flex justify-content-between align-items-center"
        style="padding:3px">
    DATA ISOLATION
    <span style="float:right" class="label 
    {% if project.isolate_data == True %}label-danger">ISOLATE
    {% elif project.isolate_data == None %}label-warning">UNSPECIFIED
    {% else %}label-success">MISCIBLE{% endif %}
    </span>
  </li>
  <li   class="list-group-item d-flex justify-content-between align-items-center"
        style="padding:3px">
    SECURITY
    <span style="float:right" class="label 
    {% if project.host.firewalled == False %}label-danger">OPEN
    {% elif project.host.firewalled == None %}label-warning">UNDETERMINED
    {% else %}label-success">FIREWALLED{% endif %}
    </span>
  </li>
</ul>
  
  
    
  </div>
 </div>
</div>



<div class="col-md-12">
<!-- left side button panel --!>
<div class="col-md-2">
    </br>
    </br>
    <a  type="button" class="btn btn-primary btn-group-justified" 
        href="{% url 'dc_management:project-update' project.pk %}">Update project</a>

    <a  type="button" class="btn btn-primary btn-group-justified" 
        href="{% url 'dc_management:file-transfer-add' %}">Transfer file(s)</a>
    <a  type="button" class="btn btn-primary btn-group-justified" 
        href="{% url 'dc_management:storage-change' project.pk %}">Change Storage</a>
    <a  type="button" class="btn btn-default btn-group-justified" 
        href="#">Change RAM/CPU</a>

    </br>
    </br>

    <a  type="button" class="btn btn-primary btn-group-justified" 
        href="{% url 'dc_management:migration-add' project.pk %}">Migrate project</a>
    <a  type="button" class="btn btn-default btn-group-justified" 
        href="#">Find available node</a>
    <a  type="button" class="btn btn-default btn-group-justified" 
        href="#">Unmount project</a>
    <a  type="button" class="btn btn-default btn-group-justified" 
        href="#">Mount project</a>
    <a  type="button" class="btn btn-default btn-group-justified" 
        href="#">Login instructions</a>
    <a  type="button" class="btn btn-default btn-group-justified" 
        href="#">Decommission project</a>
    </br>
    </br>
</div>

<!-- right hand info panel --!>
<div class="col-md-10">


<!-- Setup tabs for separating details and logs --!>
<div id="exTab1" class="container col-md-12">
    <ul  class="nav nav-tabs">
        <li class="active">
            <a  href="#details" data-toggle="tab">Details</a>
        </li>
            <li><a href="#logs" data-toggle="tab">Logs</a>
        </li>
	</ul>
		
		
<div class="tab-content clearfix col-md-12">
  




<!-- Attributes of project --!>
<div class="tab-pane active col-md-12" id="details">

</br>

<div class="container col-md-12">
 <div class="panel panel-info">
  <div class="panel-heading">
    <h4>Project attributes:</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
        <thead class="thead-default">
        <tr>
            <th></th><th>Value/Requested</th><th>Provisioned</th>
        </tr>
        </thead>
        
        <tr>
            <td>PI </td>
            <td> 
                <a href="{% url 'dc_management:dcuser' project.pi.pk %}">
                    {{ project.pi }}
                </a>
            </td>
            <td></td>
        </tr>
        {% if project.prj_admin %}
            <tr>
                <td>Project administrator </td>
                <td>
                    <a href="{% url 'dc_management:dcuser' project.prj_admin.pk %}">
                        {{ project.prj_admin }}
                    </a>
                </td>
                <td></td>
            </tr>
        {% endif %}
        {% if project.expected_completion|days_until:0 and project.status == 'RU' %}
            <tr class="bg-danger" style="color:red;background:lightpink">
                <td>Expiry</td><td> {{ project.expected_completion }}</td><td></td>
            </tr>
        {% elif project.expected_completion|days_until:10 and project.status == 'RU' %}
            <tr class="bg-warning" style="color:orange;">
                <td>Expiry</td><td> {{ project.expected_completion }}</td><td></td>
            </tr>
        {% elif project.expected_completion|days_until:90 and project.status == 'RU' %}
            <tr class="bg-info" style="color:blue;">
                <td>Expiry</td><td> {{ project.expected_completion}}</td><td></td>
            </tr>
        {% else %}
            <tr>
                <td>Expiry</td><td> {{ project.expected_completion}}</td><td></td>
            </tr>
        {% endif %}

        <tr>
            <td>Status </td><td> {{ project.get_status_display }}</td><td></td>
        </tr>
        <tr>
            <td>Fileshare storage </td>
            <td> {{ project.fileshare_storage }} GB</td>
            <td></td>
        </tr>
        <tr>
            <td>Direct attach storage </td>
            <td> {{ project.direct_attach_storage }} GB</td>
            <td>{{ project.host.other_storage }} GB</td>
        </tr>

        <tr>
            <td>CPUs</td>
            <td> {{ project.requested_cpu }}</td>
            <td>{{ project.host.processor_num }}</td>
        </tr>
        <tr>
            <td>RAM</td>
            <td> {{ project.requested_ram }} GB</td>
            <td>{{ project.host.ram }} GB</td>
        </tr>
        
        
        <tr>
            <td>Environment </td><td> {{ project.get_env_type_display }}</td><td></td>
        </tr>
        <tr>
            <td>Subtype </td><td> {{ project.env_subtype }}</td><td></td>
        </tr>
        {% if project.governance_doc_set.all.count == 0 %}
        <tr class="bg-danger" style="color:red;">
        {% else %} 
        <tr>
        {% endif %}
            <td>Governance docs </td>
            <td> {{ project.governance_doc_set.all.count }} </td>
            <td></td>
        </tr>

    </table>
  </div>
 </div>
</div>

<!-- Project access information--!>
<div class="container col-md-12">
 <div class="panel panel-info">
  <div class="panel-heading">
    <h4>Project access:
        {% if project.myapp == True %}
            <span class="pull-right label label-success">MyApps Enabled</span>
        {% endif %}
    </h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped"><ul>
        <thead class="thead-default">
        <tr>
            <th>Node</th><th>Address</th><th>IP address</th>
        </tr>
        </thead>
        {% if project.host %}
        <tr>
            <td><a href="{% url 'dc_management:node' project.host.pk %}">{{ project.host.node }}</a></td>
            <td>{{ project.host.name_address }}</td>
            <td>{{ project.host.ip_address }}</td>
        </tr>
        {% else %}
        <tr>
            <td>Project not mounted</td>
            <td>Project not mounted</td>
            <td>Project not mounted</td>
        </tr>
        {% endif %}
        {% if project.prj_dns %}
        <tr>
            <td></td>
            <td>{{ project.prj_dns }}</td>
            <td></td>
        </tr>
        {% endif %}


    </table>
  </div>
 </div>
</div>

<!-- Project users --!>
<div class="container col-md-12">
 <div class="panel panel-info">
  <div class="panel-heading">
    <h4>Users ({{ project.billable_users.count }}/{{ project.users.all.count }} billable)
        <span class="pull-right">
            <a type="button" class="btn btn-primary" href="{% url 'dc_management:usertothisproject-remove' project.pk %}">Remove user from project</a>
            <a type="button" class="btn btn-primary" href="{% url 'dc_management:usertothisproject-add' project.pk %}">Add user to project</a>
            
        </span>
    </h4>
  </div>
  <div class="panel-body">
    {% include "dc_management/user_list.html" %}
    <h4>{{ unconnected_users|length }} unconnected, valid users:</h4>
    {% for u in unconnected_users %}
        {{ u }},
    {% endfor %}
  </div>
 </div>
</div>




<!-- Display of current gov docs --!>
<div class="container col-md-12">
 <div class="panel panel-info">
  <div class="panel-heading">
    <h4>Project governance - current only
      <span class="pull-right">
            <a  type="button" 
                class="btn btn-info"  
                href="{% url 'dc_management:prjgovdocs' project.pk %}">See all</a>
            <a  type="button" 
                class="btn btn-primary"  
                href="{% url 'dc_management:govdocmeta-add' %}">Add document</a>
      </span>
    </h4>
  </div>
  <div class="panel-body">
    
    {% with current_gov_docs as gov_doc_list %}
        {% include "dc_management/gov_docs_list.html" %}
    {% endwith %}
    <h4>Summary:</h4>
    <ul>
     <li>{{ fully_validated|length }} fully validated users</li>
     <li>{{ unconnected_users|length }} unconnected users</li>
     <li>{{ irb_users|length }} users on IRB</li>
     <li>{{ dcua_users|length }} users with DCUA</li>
     <li>{{ dua_users|length }} users on DUA </li>
    </ul>
  </div>
 </div>
</div>


<!-- Software --!>
<div class="container col-md-12">
 <div class="panel panel-info">
  <div class="panel-heading">
    <h4>Installed software:
      <span class="pull-right">
            <a type="button" class="btn btn-primary"  href="{% url 'dc_management:change_software' %}">Install/remove software</a>
      </span>
    </h4>
    
  </div>
  <div class="panel-body">
    {% with project.software_installed.all as software_list %}
        {% include "dc_management/software_list.html" %}
    {% endwith %}
    <h4>Other available software (already installed on node):</h4>
    {% with available_software as software_list %}
        {% include "dc_management/software_list.html" %}
    {% endwith %}
  </div>
 </div>
</div>

<!-- Project Billing --!>
<div class="container col-md-12">
 <div class="panel panel-info">
  <div class="panel-heading">
    <h4>Project billing</h4>
  </div>
  <div class="panel-body">
        {% include "dc_management/project_billing.html" %}
  </div>
 </div>
</div>

<!-- Alternate node suitability --!>
<div class="container col-md-12">
 <div class="panel panel-info">
  <div class="panel-heading">
    <h4>Nodes suitable for migration of {{ project }}</h4>
  </div>
  <div class="panel-body">
    <ul>
    {% for node in project.valid_nodes %}
        <li><a href="{% url 'dc_management:node' node.pk %}">{{node}}</a></li>
    {% endfor %}
    </ul>
  </div>
 </div>
</div>


<!-- Comments --!>
{% with project as model_instance  %}
{% with 'project' as  model_type %}
{% include 'dc_management/comment_list.html' %}
{% endwith %}
{% endwith %}



</div>


<div class="tab-pane col-md-12" id="logs">

<!-- ############ --!>
<!-- project logs --!>
<!-- ############ --!>

 <h4>Access logs</h4>
 <table class="table table-striped">
  <thead class="thead-default">
        <tr>
            <th>Logged</th>
            <th>Ticket</th>
            <th>Activated</th>
            <th>User</th>
            <th>Change</th>
            <th>Author</th>
        </tr>
  </thead>
  {% for l in project.access_log_set.all %}
   <tr><td>{{ l.record_creation }}</td>
       {% if l.sn_ticket %}
       <td>{{ l.sn_ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ l.sn_ticket }}</td>
       {% endif %}
       <td>{{ l.date_changed }}</td>
       <td>{{ l.dc_user }}</td>
       <td>{{ l.get_change_type_display }}</td>
       <td>{{ l.record_author }}</td>
       </tr>
  {% endfor %}
 </table>

 <h4>External access logs</h4>
 <table class="table table-striped">
  <thead class="thead-default">
        <tr>
            <th>Logged</th>
            <th>Ticket</th>
            <th>Connected</th>
            <th>Disconnected</th>
        </tr>
  </thead>
  {% for l in project.external_access_log_set.all %}
   <tr><td>{{ l.record_creation }}</td>
       {% if l.sn_ticket %}
       <td>{{ l.sn_ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ l.sn_ticket }}</td>
       {% endif %}
       <td>{{ l.date_connected }}</td>
       <td>{{ l.date_disconnected }}</td>
       </tr>
  {% endfor %}
 </table>
 
 <h4>Software logs</h4>
 <table class="table table-striped">
  <thead class="thead-default">
        <tr>
            <th>Ticket</th>
            <th>Change date</th>
            <th>Change type</th>
            <th>Software</th>
        </tr>
  </thead>
  {% for l in project.software_log_set.all %}
    <tr>
       {% if l.sn_ticket %}
       <td>{{ l.sn_ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ l.sn_ticket }}</td>
       {% endif %}

       <td>{{ l.change_date }}</td>
       <td>{{ l.get_change_type_display }}</td>
       <td>{{ l.software_changed }}</td>
    </tr>
  {% endfor %}
 </table>

 <h4>Storage logs</h4>
 <table class="table table-striped">
  <thead class="thead-default">
        <tr>
            <th>Logged</th>
            <th>Ticket</th>
            <th>Changed</th>
            <th>Type</th>
            <th>Amount (GB)</th>
            <th>Comments</th>
        </tr>
  </thead>
  {% for l in project.storage_log_set.all %}
   <tr><td>{{ l.record_creation }}</td>
       {% if l.sn_ticket %}
       <td>{{ l.sn_ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ l.sn_ticket }}</td>
       {% endif %}
       <td>{{ l.date_changed }}</td>
       <td>{{ l.storage_type }}</td>
       <td>{{ l.storage_amount }}</td>
       <td>{{ l.comments|linebreaks }}</td>
       </tr>
  {% endfor %}
 </table>

 <h4>
    File Transfer logs
 </h4>
 <table class="table table-striped">
  <thead class="thead-inverse">
        <tr>
            <th>Date</th>
            <th>Ticket</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Data</th>
        </tr>
  </thead>
  {% for ft in project.source_project.all %}
   <tr>
       <td>
            <a href="{% url 'dc_management:file-transfer-view' ft.pk %}">
              {{ ft.change_date }}
            </a>
        </td>
       {% if ft.ticket %}
       <td>{{ ft.ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ ft.ticket }}</td>
       {% endif %}
       
        <td> 
        {% if ft.source %}
        {{ ft.source }}
        {% elif ft.external_source %}
        {{ ft.external_source }}
        {% endif %}
        </td>
        <td>
        {% if ft.destination %}
        {{ ft.destination }}
        {% elif ft.external_destination %}
        {{ ft.external_destination }}
        {% endif %}
        </td>
       
       <td>{{ ft.get_data_type_display }}</td>
       
       </tr>
  {% endfor %}
  {% for ft in project.destination_project.all %}
   <tr>
       <td>
         <a href="{% url 'dc_management:file-transfer-view' ft.pk %}">
           {{ ft.change_date }}
         </a>
       </td>
       {% if ft.ticket %}
       <td>{{ ft.ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ ft.ticket }}</td>
       {% endif %}
       
        <td> 
        {% if ft.source %}
        {{ ft.source }}
        {% elif ft.external_source %}
        {{ ft.external_source }}
        {% endif %}
        </td>
        <td>
        {% if ft.destination %}
        {{ ft.destination }}
        {% elif ft.external_destination %}
        {{ ft.external_destination }}
        {% endif %}
        </td>
       
       <td>{{ ft.get_data_type_display }}</td>
       
       </tr>
  {% endfor %}
 </table>

 <h4>Audit logs</h4>
 <table class="table table-striped">
  <thead class="thead-inverse">
        <tr>
            <th>Logged</th>
            <th>Ticket</th>
            <th>Audit Date</th>
            <th>User</th>
            <th>Comments</th>
        </tr>
  </thead>
  {% for l in project.audit_log_set.all %}
   <tr><td>{{ l.record_creation }}</td>
       {% if l.sn_ticket %}
       <td>{{ l.sn_ticket }}</td>
       {% else %}
       <td class="bg-warning" style="color:orange;">{{ l.sn_ticket }}</td>
       {% endif %}
       <td>{{ l.audit_date }}</td>
       <td>{{ l.dc_user }}</td>
       <td>{{ l.comments }}</td>
       </tr>
  {% endfor %}
 </table>

<h4>Migration logs</h4>
  {% with  project.migrationlog_set.all as migration_list %}
    {% include 'dc_management/migration_log.html' %}
  {% endwith %}

</div>
</div>
</div>

</div>
</div>



{% endblock %}