{% load project_tags %}

<td {% if project.status == "CO" %}style="color:#896E4E;"{% endif %}>
{{ project.users.all.count }}</td> 


<!-- highlight based on project status and days to expected completion --!>    
{% if project.expected_completion|days_until:0 and project.status == 'RU' %}
    <td class="bg-danger" style="color:red;">
    {{ project.expected_completion }}</td>
{% elif project.expected_completion|days_until:10 and project.status == 'RU' %}
    <td class="bg-warning" style="color:orange;">
    {{ project.expected_completion }}</td>
{% elif project.expected_completion|days_until:90 and project.status == 'RU' %}
    <td class="bg-info" style="color:blue;">
    {{ project.expected_completion }}</td>
{% else %}
    <td>
    {{ project.expected_completion }}</td>
{% endif %}
