{% comment %}
<!-- This template is referenced by the individual list templates --!> 
<!-- Include this template after the {% if project_list %} tag --!> 
{% endcomment %}

{% load project_tags %}
{% load bootstrap4 %}
{% load static %}

<table class="table table-striped table-hover">
<thead class="thead-default">
<tr>
    <th>Project</th>
    <th>Name</th>
    <th>PI</th>
    <th>Administrator</th>
    <th># users</th>
    <th>Expected completion</th>
    <th>Status</th>
    <th><img src="{% static 'img/information.svg' %}" height="20" width="20"></th>
</tr>
</thead>

    {% for project in project_list %}
      <tr>
        <td>
            <a href="{% url 'dc_management:project' project.pk %}">
                {{ project.dc_prj_id }}
            </a>
        </td>
        <td {% if project.status == "CO" %}style="color:#896E4E;"{% endif %}>
            {{ project.nickname }}
        </td>
        <td>
            <a href="{% url 'dc_management:dcuser' project.pi.pk %}">
                {{ project.pi }}
            </a> 
        </td>
    
        {% if project.prj_admin %}
            <td>
                <a href="{% url 'dc_management:dcuser' project.prj_admin.pk %}">
                    {{ project.prj_admin }}
                </a> 
            </td>
        {% else %}
            <td></td>
        {% endif %}
        
        <!-- This variable will pass on the template to include --!> 
        <!-- This is for the next two columns, which have variable formatting --!> 
        {% include passthroughhtml %}
        
        <!-- Add project status --!>
        <td {% if project.status == "CO" %}style="color:#896E4E;"{% endif %}>
            {{ project.get_status_display }}
        </td>
        
        <!-- Add info icon if project has any comments --!>
        <td>
            {% if project.dynamic_comments.count > 0 %}
            <div data-toggle="tooltip" 
               data-html="true"
               data-trigger="click"
               data-placement="left"
               data-container="body"
               title="{% for cmt in project.dynamic_comments.all %}
                        {{ cmt|linebreaks }}
                      {% endfor %}">
            <img src="{% static 'img/information.svg' %}" height="20" width="20">
            </div>
            
            {% endif %}
            
        </td>
      </tr>
    {% endfor %}
</table>

<script>
$("[data-toggle=tooltip").tooltip();
</script>