{% extends 'dc_management/base-dcore.html' %}

{% block content %}

<div class="container">
<div class="row justify-content-between">
    <div class="col-8">
        <h1>sFTP connection for {{ sftp.pusher }}</h1>

        {{ sftp.login_details }}</br>
        {{ sftp.project }}</br>
    </div>
</div>    
</div>

<p>
<a   class="btn btn-primary" 
    href="{% url 'dc_management:sftp-update' sftp.pk %}">
    Update sFTP connection details
</a>
</p>

<table class="table table-striped table-hover table-sm">


        <tr><td>Project</td><td><a href="{% url 'dc_management:project' sftp.project.pk %}">{{ sftp.project }}</a></td></tr>
        <tr><td>Internal Only</td><td>{{ sftp.internal_connection }}</td></tr>
        <tr><td>Provider</td><td>{{ sftp.pusher }}</td></tr>
        <tr><td>Provider contact</td><td>{{ sftp.pusher_contact }}</td></tr>
        <tr><td>Provider email</td><td>{{ sftp.pusher_email }}</td></tr>
        <tr><td>Allowed IPs</td><td>{{ sftp.whitelisted }}</td></tr>
        {% if sftp.firewall_rule %}
            <tr><td>Firewall rule</td><td>{{ sftp.firewall_rule }}</td></tr>
        {% endif %}
        <tr><td>Firewall label</td><td>{{ sftp.firewall_label }}</td></tr>
        {% if sftp.firewall_request %}
            <tr><td>Firewall request</td><td>{{ sftp.firewall_request }}</td></tr>
        {% endif %}
        {% if sftp.storage %}
            <tr><td>Storage connected</td><td><a href="{% url 'datacatalog:access-view' sftp.storage.pk %}">{{ sftp.storage }}</a></td></tr>
        {% endif %}
        {% if sftp.host_server %}
            <tr><td>sFTP host</td><td><a href="{% url 'dc_management:node' sftp.host_server.pk %}">{{ sftp.host_server }}</a></td></tr>
        {% endif %}

</table>


{% endblock %}
 