
{% load project_tags %}


<h1>
All {{ sw_list|length }} Software:
</h1>

<table class="table table-striped table-hover">
    <thead class="thead-default">
        <tr>
            <th>Software</th>
            <th>Version</th>
            <th>License type</th>
            <th>Project count</th>
            <th>Seat count</th>
            <th>User count</th>
        </tr>
    </thead>
        {% for sw in sw_list %}
        <tr>
            <td><a href="{% url 'dc_management:software-detail' sw.pk %}">{{ sw.name }}</a></td>
            <td>{{ sw.version }}</td>
            <td>{{ sw.license_type }}</td>
            <td>{{ sw.software_installed.count }}</td>
            <td>{{ sw.seatcount }}</td>
            <td>{{ sw.swusers.count }}</td>
        </tr>
        {% endfor %}
</table>
