{% extends 'base.html' %}

{% block content %}
{% load project_tags %}


<h1>
Software: {{ software }}
</h1>

<table class="table table-striped table-hover">
    <thead class="thead-default">
        <tr>
            <th>Software</th>
            <th>Version</th>
            <th>License type</th>
            <th>Seat count</th>
            <th>User count</th>
        </tr>
    </thead>
        
        <tr>
            <td>{{ software.name }}</td>
            <td>{{ software.version }}</td>
            <td>{{ software.license_type }}</td>
            <td>{{ software.seatcount }}</td>
            <td>{{ software.swusers.count }}</td>
        </tr>
        
</table>

<h2>Installed on {{ software.software_installed.count }} projects</h2>
{% with software.software_installed.all as project_list %}
    {% with 'dc_management/project_list.html' as passthroughhtml %}
        {% include 'dc_management/project_list_template.html' %}
    {% endwith %}
{% endwith %}

<h2>{{ software.swusers.count }} Users</h2>
{% with software.swusers as user_list %}
    {% include 'dc_management/user_list_multiproject.html' %}
{% endwith %}

{% if software.comments %}
<div class="container">
 <div class="panel panel-info">
  <div class="panel-heading">    
    <h3>Comments</h3>
  </div>
  <div class="panel-body">
    {% for cmts in software.dynamic_comments.all %}

    <div class="insetwell" >
    
    {{ cmts.comment }}

    <h5 align="right" style="font-family:verdana;font-size:75%;">Posted by {{ cmts.record_author }} {{ cmts.record_creation }}</h5>
    </div>
    
    
    {% endfor %}
  </div>
 </div>
</div>
{% endif %}


{% endblock %}