<table class="table table-striped table-hover" id="storageTable">
<thead class="thead-default">
    <tr>
        <th>Name</th>
        <th>Storage</th>
        <th>Access</th>
        <th># datasets</th>
    </tr>
</thead>

{% for da in storage_list %}
    <tr>
    <td><a href="{% url 'datacatalog:access-view' da.pk %}">{{ da.name }}</a></td>
    <td>{{ da.storage_type.name }}</td>
    <td>{% for p in da.dc_project.all %}
            <a href="{% url 'dc_management:project' p.pk %}">{{ p.dc_prj_id }} </a>
        {% endfor %}</td>
    <td> {{ da.metadata.count }}</td>
    </tr>
{% endfor %}
</table>
