{% extends 'dc_management/base-dcore.html' %}

{% block content %}
<h1>
    {{ storage.get_location_display }} Storage: {{ storage.name }} 
</h1>


<p> {{ storage.description|linebreaks }}</p>

</br>
<h4>Datasets present</h4>
    {% with storage.datasets.all as dataset_list %}
        {% include 'datacatalog/table_datasets.html' %}
    {% endwith %}

<h4>Projects with access</h4>
    {% with storage_projects as project_list %}
        {% with 'dc_management/project_list.html' as passthroughhtml %}
            {% include 'dc_management/project_list_template.html' %}
        {% endwith %}
    {% endwith %}
<br/>

<h4>Governance Documents</h4>
    {% with storage_governance as prj_governance %}
        {% include "dc_management/storage_govdocs.html" %}
    {% endwith %}
<br/>


<a  type="button" class="btn btn-primary" 
    href="{% url 'dc_management:storage-update' storage.pk %}">
    Update {{ storage.name }} storage
</a>    

{% endblock %}

